/* Global styles */
body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #010101;
}

.title {
  position: absolute;
  text-align: center;
  top: 0.5rem;
  left: 0;
  width: 100%;
  font-family: "Pacifico", cursive;
  line-height: 1.6;
  font-size: 4.2vmin;
  background-image: linear-gradient(to right, #fff, #fdd835);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 4px #fdd835;
  color: transparent;
}

.instruction {
  position: absolute;
  text-align: center;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  color: #fff;
  letter-spacing: 2px;
  font-family: "Anek Bangla", sans-serif;
  font-size: 0.875rem;
  animation: blink 0.6s ease infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scrollable gallery */
.gallery {
  position: relative;
  width: 80vw; /* Adjust the width to make it responsive */
  height: 200px;
  display: flex;
  overflow-x: scroll; /* Allow horizontal scrolling */
  scroll-snap-type: x mandatory;
  margin-top: 50px; /* Spacing for the title */
}

.gallery span {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  scroll-snap-align: start;
}

.gallery span img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  user-select: none; 
  -webkit-user-drag: none; 
  -moz-user-drag: none; 
  user-drag: none; 
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #fdd835;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive design for smaller screens (phones) */
@media screen and (max-width: 768px) {
  .gallery {
    width: 100vw; 
    height: 300px; 
  }

  .gallery span img {
    width: 80%;
    height: auto;
  }

  .title {
    font-size: 5vw; 
  }

  .instruction {
    font-size: 1rem; 
  }
}
